In [2]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
raw_data = pd.read_excel('Exam.xlsx')
raw_data

     Score  Gender Accepted
0     1020  Female       No
1     1135    Male       No
2     1165  Female      Yes
3     1155    Male      Yes
4     1144    Male       No
..     ...     ...      ...
146   1765  Female      Yes
147   1467    Male      Yes
148   1467    Male      Yes
149   1287  Female      Yes
150   1187    Male      Yes

[151 rows x 3 columns]

In [5]:
data = raw_data.copy()
data['Accepted'] = data['Accepted'].map({'Yes':1,'No':0})
data['Gender'] = data['Gender'].map({'Male':1, 'Female':0})
data

     Score  Gender  Accepted
0     1020       0         0
1     1135       1         0
2     1165       0         1
3     1155       1         1
4     1144       1         0
..     ...     ...       ...
146   1765       0         1
147   1467       1         1
148   1467       1         1
149   1287       0         1
150   1187       1         1

[151 rows x 3 columns]

## Logit Regression with different independent variables

In [7]:
y = data['Accepted']
x0 = np.ones(151)

reg_log0 = sm.Logit(y,x0).fit()
reg_log0.summary()

Optimization terminated successfully.
         Current function value: 0.655818
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Accepted   No. Observations:                  151
Model:                          Logit   Df Residuals:                      150
Method:                           MLE   Df Model:                            0
Date:                Wed, 29 Jun 2022   Pseudo R-squ.:               3.976e-11
Time:                        13:08:29   Log-Likelihood:                -99.029
converged:                       True   LL-Null:                       -99.029
Covariance Type:            nonrobust   LLR p-value:                       nan
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.5570      0.169      3.294      0.001       0.226       0.888
==============================================================================
"""

In [8]:
y = data['Accepted']
x1 = data ['Score']

x = sm.add_constant(x1)
reg_log1 = sm.Logit(y,x).fit()
reg_log1.summary()

Optimization terminated successfully.
         Current function value: 0.136774
         Iterations 12

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Accepted   No. Observations:                  151
Model:                          Logit   Df Residuals:                      149
Method:                           MLE   Df Model:                            1
Date:                Wed, 29 Jun 2022   Pseudo R-squ.:                  0.7914
Time:                        13:10:52   Log-Likelihood:                -20.653
converged:                       True   LL-Null:                       -99.029
Covariance Type:            nonrobust   LLR p-value:                 5.801e-36
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       -123.3826     30.362     -4.064      0.000    -182.892     -63.874
Score          0.1073      0.026      4.050      0.000       0.055       0.159
==============================================================================

Possibly complete quasi-separation: A fraction 0.60 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [9]:
y = data['Accepted']
x2 = data[['Score','Gender']]

x_1= sm.add_constant(x2)
reg_log2 = sm.Logit(y,x_1).fit()
reg_log2.summary()

Optimization terminated successfully.
         Current function value: 0.136335
         Iterations 12

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Accepted   No. Observations:                  151
Model:                          Logit   Df Residuals:                      148
Method:                           MLE   Df Model:                            2
Date:                Wed, 29 Jun 2022   Pseudo R-squ.:                  0.7921
Time:                        13:13:02   Log-Likelihood:                -20.587
converged:                       True   LL-Null:                       -99.029
Covariance Type:            nonrobust   LLR p-value:                 8.572e-35
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       -123.5503     30.620     -4.035      0.000    -183.564     -63.536
Score          0.1073      0.027      4.020      0.000       0.055       0.160
Gender         0.2886      0.794      0.364      0.716      -1.267       1.844
==============================================================================

Possibly complete quasi-separation: A fraction 0.60 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [10]:
y = data['Accepted']
x1 = data ['Gender']

x = sm.add_constant(x1)
reg_log1 = sm.Logit(y,x).fit()
reg_log1.summary()

Optimization terminated successfully.
         Current function value: 0.647486
         Iterations 5

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:               Accepted   No. Observations:                  151
Model:                          Logit   Df Residuals:                      149
Method:                           MLE   Df Model:                            1
Date:                Wed, 29 Jun 2022   Pseudo R-squ.:                 0.01270
Time:                        13:13:39   Log-Likelihood:                -97.770
converged:                       True   LL-Null:                       -99.029
Covariance Type:            nonrobust   LLR p-value:                    0.1127
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.2955      0.233      1.266      0.206      -0.162       0.753
Gender         0.5393      0.342      1.578      0.115      -0.131       1.209
==============================================================================
"""

### Due to this block above, we can find that gender feature is not very effective (it's actually not suitable for our model)

In [13]:
np.set_printoptions(formatter=({'float':lambda x: '{0:0.2f}'.format(x)}))

reg_log2.predict()

array([0.00, 0.18, 0.81, 0.66, 0.37, 0.37, 0.84, 0.98, 0.98, 0.99, 0.04,
       0.95, 0.96, 0.99, 0.17, 0.68, 1.00, 0.37, 0.00, 0.03, 0.04, 0.00,
       1.00, 1.00, 0.01, 1.00, 1.00, 1.00, 0.66, 1.00, 1.00, 1.00, 1.00,
       1.00, 1.00, 1.00, 1.00, 1.00, 0.98, 1.00, 1.00, 1.00, 1.00, 0.33,
       1.00, 1.00, 1.00, 1.00, 1.00, 0.17, 0.00, 0.00, 0.00, 0.26, 0.05,
       0.95, 1.00, 0.61, 1.00, 1.00, 0.14, 0.00, 0.00, 0.14, 1.00, 1.00,
       1.00, 1.00, 1.00, 0.63, 0.00, 0.00, 0.00, 1.00, 1.00, 1.00, 1.00,
       1.00, 1.00, 1.00, 0.17, 0.17, 0.34, 0.00, 0.01, 0.06, 0.06, 1.00,
       1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 0.04, 0.04, 0.05, 0.16, 0.00,
       0.00, 1.00, 0.74, 0.92, 0.05, 0.16, 0.00, 0.00, 1.00, 0.74, 0.92,
       0.06, 0.06, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 0.04, 0.04,
       0.17, 0.00, 0.00, 0.00, 0.26, 0.05, 0.95, 1.00, 0.61, 1.00, 1.00,
       0.14, 0.00, 1.00, 1.00, 0.01, 1.00, 1.00, 1.00, 0.66, 1.00, 1.00,
       1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 1.00, 0.98])

In [14]:
reg_log2.pred_table(threshold=0.5)

array([[55.00, 0.00],
       [1.00, 95.00]])

In [15]:
cm_df = pd.DataFrame(reg_log2.pred_table())

cm_df.columns = ['Prediction 0','Prediction 1']

cm_df = cm_df.rename({0:'Actual 0', 1:'Actual 1'})

cm_df

          Prediction 0  Prediction 1
Actual 0          55.0           0.0
Actual 1           1.0          95.0

In [17]:
cm = np.array(cm_df)

accuracy_train = (cm[0,0]+cm[1,1])/cm.sum()
accuracy_train

0.9933774834437086

## Testing Our Model

In [22]:
test = pd.read_excel('Test.xlsx')
test

    Score  Gender Accepted
0    1020  Female       No
1    1135    Male       No
2    1165  Female      Yes
3    1155    Male      Yes
4    1144    Male       No
5    1144    Male       No
6    1167  Female      Yes
7    1187  Female      Yes
8    1188    Male      Yes
9    1193    Male      Yes
10   1122  Female       No
11   1176    Male      Yes
12   1179    Male      Yes
13   1199  Female      Yes
14   1134    Male       No
15   1156    Male      Yes
16   1577    Male      Yes
17   1144    Male       No
18   1039  Female       No
19   1119  Female       No
20   1121  Female       No
21   1050    Male      Yes
22   1359  Female      Yes
23   1460    Male      Yes
24   1112  Female       No
25   1755    Male      Yes
26   1856  Female      Yes
27   1557  Female      Yes
28   1158  Female      Yes

In [23]:
test['Accepted'] = test['Accepted'].map({'Yes': 1, 'No': 0})

test['Gender'] = test['Gender'].map({'Female': 1, 'Male': 0})

test

    Score  Gender  Accepted
0    1020       1         0
1    1135       0         0
2    1165       1         1
3    1155       0         1
4    1144       0         0
5    1144       0         0
6    1167       1         1
7    1187       1         1
8    1188       0         1
9    1193       0         1
10   1122       1         0
11   1176       0         1
12   1179       0         1
13   1199       1         1
14   1134       0         0
15   1156       0         1
16   1577       0         1
17   1144       0         0
18   1039       1         0
19   1119       1         0
20   1121       1         0
21   1050       0         1
22   1359       1         1
23   1460       0         1
24   1112       1         0
25   1755       0         1
26   1856       1         1
27   1557       1         1
28   1158       1         1

In [24]:
test_actual = test['Accepted']
test_data = test.drop(['Accepted'],axis=1)
test_data = sm.add_constant(test_data)
test_data

    const  Score  Gender
0     1.0   1020       1
1     1.0   1135       0
2     1.0   1165       1
3     1.0   1155       0
4     1.0   1144       0
5     1.0   1144       0
6     1.0   1167       1
7     1.0   1187       1
8     1.0   1188       0
9     1.0   1193       0
10    1.0   1122       1
11    1.0   1176       0
12    1.0   1179       0
13    1.0   1199       1
14    1.0   1134       0
15    1.0   1156       0
16    1.0   1577       0
17    1.0   1144       0
18    1.0   1039       1
19    1.0   1119       1
20    1.0   1121       1
21    1.0   1050       0
22    1.0   1359       1
23    1.0   1460       0
24    1.0   1112       1
25    1.0   1755       0
26    1.0   1856       1
27    1.0   1557       1
28    1.0   1158       1

In [35]:
def confusion_matrix(data,actual_values,model):
    pred_values = model.predict(data)
    bins = np.array([0,0.5,1])
    cm = np.histogram2d(actual_values,pred_values,bins=bins)[0]
    accuracy = round ((cm[0,0]+cm[1,1])/cm.sum(),4)
    return cm,accuracy

In [36]:
cm = confusion_matrix(test_data,test_actual,reg_log2)
cm

(array([[11.00, 0.00],
        [1.00, 17.00]]),
 0.9655)

In [37]:
cm_df = pd.DataFrame(cm[0])

cm_df.columns = ['Predicted 0','Predicted 1']

cm_df = cm_df.rename(index={0: 'Actual 0',1:'Actual 1'})

cm_df

          Predicted 0  Predicted 1
Actual 0         11.0          0.0
Actual 1          1.0         17.0

In [39]:
print ('Missclassification rate: '+str((1+0)/29))

Missclassification rate: 0.034482758620689655